.audioBack{
	background: rgb(27,27,27);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiMWIxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzBhMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzRlNGU0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzRlNGU0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzBkMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzBkMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(27,27,27,1) 0%, rgba(10,10,10,1) 25%, rgba(78,78,78,1) 48%, rgba(78,78,78,1) 48%, rgba(56,56,56,1) 56%, rgba(1,1,1,1) 75%, rgba(1,1,1,1) 83%, rgba(13,13,13,1) 97%, rgba(13,13,13,1) 97%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,27,27,1)), color-stop(25%,rgba(10,10,10,1)), color-stop(48%,rgba(78,78,78,1)), color-stop(48%,rgba(78,78,78,1)), color-stop(56%,rgba(56,56,56,1)), color-stop(75%,rgba(1,1,1,1)), color-stop(83%,rgba(1,1,1,1)), color-stop(97%,rgba(13,13,13,1)), color-stop(97%,rgba(13,13,13,1)));
	background: -webkit-linear-gradient(top,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	background: -o-linear-gradient(top,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	background: -ms-linear-gradient(top,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	background: linear-gradient(to bottom,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-8 */
	
}

.audioButton{
	position:absolute;
	width:20px;
	height:20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border:#666666 1px solid;
	margin:0px 2px;
	overflow:hidden;
	display:block;
	background: rgb(149,149,149);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzBkMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzBhMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjFiMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 17%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 66%, rgba(56,56,56,1) 90%, rgba(27,27,27,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(17%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(66%,rgba(10,10,10,1)), color-stop(90%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1)));
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 17%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 66%,rgba(56,56,56,1) 90%,rgba(27,27,27,1) 100%);
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 17%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 66%,rgba(56,56,56,1) 90%,rgba(27,27,27,1) 100%);
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 17%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 66%,rgba(56,56,56,1) 90%,rgba(27,27,27,1) 100%);
	background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 17%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 66%,rgba(56,56,56,1) 90%,rgba(27,27,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 );
}
.audioButton:hover{
	cursor:pointer;
	background: rgb(27,27,27);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiMWIxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzBhMGEwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzRlNGU0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzRlNGU0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzBkMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzBkMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(27,27,27,1) 0%, rgba(10,10,10,1) 25%, rgba(78,78,78,1) 48%, rgba(78,78,78,1) 48%, rgba(56,56,56,1) 56%, rgba(1,1,1,1) 75%, rgba(1,1,1,1) 83%, rgba(13,13,13,1) 97%, rgba(13,13,13,1) 97%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,27,27,1)), color-stop(25%,rgba(10,10,10,1)), color-stop(48%,rgba(78,78,78,1)), color-stop(48%,rgba(78,78,78,1)), color-stop(56%,rgba(56,56,56,1)), color-stop(75%,rgba(1,1,1,1)), color-stop(83%,rgba(1,1,1,1)), color-stop(97%,rgba(13,13,13,1)), color-stop(97%,rgba(13,13,13,1)));
	background: -webkit-linear-gradient(top,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	background: -o-linear-gradient(top,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	background: -ms-linear-gradient(top,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	background: linear-gradient(to bottom,  rgba(27,27,27,1) 0%,rgba(10,10,10,1) 25%,rgba(78,78,78,1) 48%,rgba(78,78,78,1) 48%,rgba(56,56,56,1) 56%,rgba(1,1,1,1) 75%,rgba(1,1,1,1) 83%,rgba(13,13,13,1) 97%,rgba(13,13,13,1) 97%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-8 */
}
.playImg{
	position:absolute;
	width:14px;
	height:14px;
	margin:auto;
	top:0px;right:0px;bottom:1px;left:2px;
	display:block;	
}

.pauseImg{
	position:absolute;
	width:14px;
	height:14px;
	margin:auto;
	top:0px;right:0px;bottom:1px;left:0px;
	display:block;	
}

.nextImg{
	position:absolute;
	width:14px;
	height:14px;
	margin:auto;
	top:0px;right:0px;bottom:0px;left:0px;
	display:block;	
}

.prevImg{
	position:absolute;
	width:14px;
	height:14px;
	margin:auto;
	top:0px;right:0px;bottom:0px;left:0px;
	display:block;	
}

.maxVolImg{
	position:absolute;
	width:14px;
	height:14px;
	margin:auto;
	top:0px;right:0px;bottom:0px;left:0px;
	display:block;
}
.minVolImg{
	position:absolute;
	width:14px;
	height:14px;
	margin:auto;
	top:0px;right:0px;bottom:0px;left:0px;
	display:block;
}
.play{
	top:2px;
	left:28px;
	display:none;
}

.pause{
	top:2px;
	left:28px;
}

.next{
	top:2px;
	left:54px;	
}

.prev{
	top:2px;
	left:2px;
}
.maxVol{
	top:2px;
	right:2px;	
}
.minVol{
	top:2px;
	left:2px;	
}

.volControl{
	top:2px;
	left:80px;	
}
.trackName{
	position:relative;
	width:280px;
	height:18px;
	margin:0px 5px;
	float:right;
	display:block;
	text-align:center;
	border:#999 1px solid;
	background:#FFFFFF;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size:16px;
}

.audioPlayer{
	position:absolute;
	width:400px;
	height:26px;
	padding:3px;
	margin:auto;
	box-sizing:border-box;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	z-index:10;
}
/* Volume Slider */

.volumeShell{
	position:absolute;
	top:-26px;
	left:0px;
	width:400px;
	height:26px;
	box-sizing:border-box;
	display:none;
	background:#000000;
}

input[type=range].audioVolume {
  	-webkit-appearance: none;
	position:absolute;
	width: 300px;
	margin:auto;
	top:0px;right:0px;bottom:0px;left:0px;
	background:#000000;	
}
input[type=range].audioVolume:focus {
  outline: none;
}
input[type=range].audioVolume::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #550909;
}
input[type=range].audioVolume::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1px solid rgba(153, 153, 153, 0.34);
  height: 5px;
  width: 10px;
  border-radius: 5px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range].audioVolume:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range].audioVolume::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #550909;
}
input[type=range].audioVolume::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1px solid rgba(153, 153, 153, 0.34);
  height: 5px;
  width: 10px;
  border-radius: 5px;
  background: #333333;
  cursor: pointer;
}
input[type=range].audioVolume::-ms-track {
  width: 300px;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].audioVolume::-ms-fill-lower {
  background: #550909;
  border: 1px solid #550909;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].audioVolume::-ms-fill-upper {
  background: #FFFFFF;
  border: 1px solid #550909;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].audioVolume::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1px solid rgba(153, 153, 153, 0.34);
  width: 10px;
  border-radius: 5px;
  background: #333333;
  cursor: pointer;
  height: 5px;
}
input[type=range].audioVolume:focus::-ms-fill-lower {
  background: #550909;
}
input[type=range].audioVolume:focus::-ms-fill-upper {
  background: #FFFFFF;
}
